*.pkl
*.data
*.txt
*.pkl
*.txt.with-source
*.mov
*.zip
*.metadata
models/ACL2013_Personas/input*
models/ACL2013_Personas/output/slurm*
models/ACL2013_Personas/stanford-corenlp-full-2018-10-05/*
papers/
models/ACL2013_Personas/
models/metoo_icwsm2019
models/Quotebank
app/data
tmp/
notebooks/.ipynb_checkpoints
notebooks/cache
data/
data/news-article-flatlist/
app/demo
latex
tmp
*.xml.gz
*.xml
*.csv
*.json
*.jsonl
*.tar
*.tar.gz
*.tsv
*.ss
*.pdf
*.ckpt
*.bin
*/wandb/*