
{% if do_mturk %}
{##}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{##}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<link rel="https://cdn.datatables.net/fixedheader/3.2.1/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css" type="text/css"/>

<link href="">
<script src=""></script>
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='table-annotation.css') }}">
<script src="{{ url_for('static', filename='table-annotation-v2.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.fixedColumns.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-multiselect.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fixedHeader.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}">

{% endif %}

<div class="table table-hover container">
    <div class="row instructions">
        <div class="col-12">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="hello_header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#hello">
                      Hello, about us, and thank you for your help!
                    </button>
                  </h5>
                </div>
                <div id="hello" class="collapse show" aria-labelledby="hello_header" data-parent="#accordion">
                  <div class="card-body">
                    Hello! We are small research lab in University of Southern California trying to build AI tools to help
                    citizens better understand the work journalists do.
                    <br><br>
                    We are calibrating our payment scheme <b>to meet a $15 per hour wage and will reward workers who take time
                    to give correct answers</b>.
                    <br><br>
                    If you perform well, we will invite you to participate in future, well-paying trials. If you speed through and give nonsense
                    answers, <b>we will block you and report to Mechanical Turk</b>. We understand the pressures of Mechanical Turk, but we are a
                    small lab and cannot afford to throw out too much data.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Instructions
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <h2>Goals and Overview</h2>
                        <p>The goal of this exercise is twofold.</p>
                            <ol>
                                <li>We'd like check if we are correctly identifying all sources.</li>
                                <li>We'd like to compile diversity characteristics of the sources so we can study source diversity in news writing.</li>
                            </ol>

                        <p>To do this, you will answer:
                            <ul>
                                <li><b>Sentence-Level Questions</b>: A series of questions you'll answer ONCE for <b>each sentence</b>, to see whether we have correctly identified sources or missed them</li>
                                <li><b>Source-Level Questions</b>: A series of questions you'll answer ONCE for <b>each correctly identified source</b>. You can use external resources or contextual clues to determine diversity characteristics about the sources.</li>
                            </ul>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Sentence-Level Questions
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <h2>Answer these questions once per sentence.</h2>
                        If the sentence is correct, do NOTHING.
                        <br>
                        <ul>
                            <li>
                                <b>Source Head:</b> Full name of the source identified in this sentence. If it's correct, leave it. If we've missed a source sentence, please copy and paste the full name of the source where it appears in the piece, to the best of your ability.
                            </li>
                            <br>
                            <li>
                                <b>Sentence Type:</b> If this sentence is attributed to a source, it is either:
                                <ol>
                                    <li><b>Quote</b>: A statement or a paraphrase of a statement given by the source to the reporter in an interview.</li>
                                    <li><b>Background</b>: A sentence giving non-event information the source (i.e. descriptions, role, status, etc.), that does <i>not</i> contain a quote. Does not have to contain any external source of information.</li>
                                    <li><b>Narrative</b>: A sentence giving narrative information about the source's role in events that does <i>not</i> contain a quote. Does not have to contain any external source of information.</li>
                                    <ul>
                                        <li>For "Background" and "Narrative", these usually don't explicitly reference external sources of information. It's typically implied that the journalist learned this information by talking to the sources, but it does not have to be the case.</li>
                                    </ul>
                                    <li><b>Direct Observation:</b> A sentence where it's clear that the journalist is either (1) literally witnessing the events (2) conducting their own analysis, investigation or experiment. I.e. the journalist is their own source of <i>observation</i> (IMPORTANT: NOT just conjecture).</li>
                                    <ul>
                                        <li>The difference between "Narrative" and "Direct Observation" can be hazy. Unless it is very clear that the journalist is literally observing events unfold, do NOT use "Direct Observation". </li>
                                        <li>When "Direct Observation" is selected, the source head is "journalist", source type is "Named Individual", affiliation is "Media", role is "informational" and status is "current", UNLESS the journalist abundantly defines themselves as otherwise (i.e. "In my years as a diplomat...", "I am a professor...").</li>
                                    </ul>
                                    <li><b>Public Speech, not to journo</b>: Remarks made by the source in a public setting to an open crowd.</li>
                                    <li><b>Communication, not to journo</b>: Remarks made by the source in a private setting or to a closed, select group. Can be interpreted broadly to include written communications</li>
                                    <li><b>Published Work</b>: Work written by the source, usually distributed via academic journals or government publications.</li>
                                    <li><b>Statement</b>: A prepared quote given by a source. Usually distributed in a press conference or in writing.</li>
                                    <li><b>Lawsuit</b>: Any information given during the course of a court proceeding including claims, defense, rulings or other court-related procedures.</li>
                                    <li><b>Price Signal:</b> Any information about a company's stock price, the price of goods, etc. that was obtained through analyzing market data.</li>
                                    <li><b>Vote/Poll</b>: Information given about voting decisions, whether as a result of an actual vote or a electoral or opinion poll.</li>
                                    <li><b>Document</b>: A more generic category of information distributed via writing (<i>Published Work</i> is a subset of this class).</li>
                                    <li><b>Press Report</b>: Information obtained from a media source, whether it's a news article, a television report or a radio report.</li>
                                    <li><b>Social Media Post</b>: Information posted on a social media platform (i.e. Twitter, Facebook, blog comments, etc.).</li>
                                    <li><b>Proposal/Order/Law</b>: Information codified in text by officials resulting, or intending to result in, policy changes (i.e. executive order, legislative text, etc.).</li>
                                    <li><b>Declined Comment</b>: A special category of quote where the source does not comment. Also includes when a source ``could not be reached for comment''.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <b>Errors:</b> Correct us if we are wrong! Either:
                                <ol>
                                    <li>We missed a source! In which case it's a false negative. A false negative can be one of the following:
                                        <ol>
                                            <li><b>False negative: This is a source sentence we failed to label. The source is NOT found elsewhere.</b> This means there's a sentence that either contains a quote from, or references a NAMED person. We've missed it, and there are no other times that this source is mentioned.</li>
                                            <li><b>False negative: This is a source sentence we failed to label. The source IS found elsewhere.</b> Similar to the above error, except we've found other quotes by this source, but missed this particular sentence.</li>
                                        </ol>
                                        Once you've tagged a negative, if the source has not yet been found, you'll be asked to fill out the <b>Source-Level</b> questions.
                                    </li>
                                    <li>We identified a source where none exists. This means it's a false positive. The false positive error is the following:</li>
                                        <ol>
                                            <li><b>False positive: This sentence does not mention any source.</b></li>
                                        </ol>
                                         Once you've tagged this, you don't have to do anything else.
                                    <li>We correctly identified a source, but the sentence is of the wrong type (i.e. the "Source-Type" field is wrong). The mixed-type error is the following:
                                        <ol>
                                            <li><b>Type mixed: This sentence is tagged with the wrong role.</b></li>
                                        </ol>
                                        Once you've identified a mixed-type, please select the correct <i>Sentence Type</i> from the list of options in the dropdown. The list of options are defined below.
                                    </li>
                                    <li>We identified that a source was in this sentence, but we attributed it to the wrong person (i.e. noted the "Source Head").</li>
                                        <ol>
                                            <li><b>Wrong source: We attributed the quote to the WRONG source. The true source has been found elsewhere.</b></li> Similar to the errors in the <b>False Negative</b> section.
                                            <li><b>Wrong source: We attributed the quote to the WRONG source. The true source has NOT been found elsewhere.</b></li>
                                        </ol>
                                        If you have identified a "Wrong Source", fill in the "Source Head" with the correct source. If the source hasn't been found, then please fill out the <b>Source-Level</b> questions.
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Source-Level Questions
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h2>Answer these questions once per identified source.</h2>
                        <div class="table table-hover container">
                        <div class="row instructions">
                            <div class="col-12">
                                <div id="accordion">
                                  <div class="card">
                                    <div class="card-header" id="hello_header">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#hello_sub">
                                          Source-Type Questions
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="hello_sub" class="collapse" aria-labelledby="hello_header">
                                      <div class="card-body">
                                        <p>
                                            The following questions define the source's role in the article. We hope to use this to
                                            understand what kinds of information the source contributes.
                                        </p>
                                        <p>You will answer three questions: a source's <b>Affiliation</b> (i.e. what broad ``group'' they belong to in society), their <b>Role</b> (i.e. within that group), and their <b>Status</b> (i.e. whether they currently belong to the group or not.)</p>
                                        <p>This is intuitively demonstrated through examples. Please see the following table for examples of typical sources, and which <b>Affiliation/Role</b> they belong to.</p>
                                        <h4>Examples of Source Role/Affiliation</h4>
                                        <div class="instructional_table">
                                          <table>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="3" class="centered" style="border-bottom: 1px solid black"><b>Role</b></td>
                                              </tr>
                                              <tr>
                                                <td></td>
                                                <td class="my-border-bottom"></td>
                                                <td class="my-border-bottom"></td>
                                                <td class="centered my-border-bottom my-border-left"><i>Decision Maker/Participant</i></td>
                                                <td class="centered my-border-bottom"><i>Representative</i></td>
                                                <td class="centered my-border-bottom my-border-right"><i>Informational</i></td>
                                              </tr>
                                              <tr>
                                                <td rowspan="8" class="rotated centered my-border-right"><b>Affiliation</b></td>
                                                <td rowspan="5" class="rotated centered my-border-right my-border-bottom"><i>Institutional</i></td>
                                                <td class="my-border-right"><i>Government</i></td>
                                                <td>President, Senator...</td>
                                                <td>Appointee, Advisor...</td>
                                                <td class="my-border-right">Expert, Whistle-Blower...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-right"><i>Corporate</i></td>
                                                <td>CEO, President...</td>
                                                <td>Spokesman, Lawyer...</td>
                                                <td class="my-border-right">Analyst, Researcher...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-right"><i>NGO</i></td>
                                                <td>Director, Doctor...</td>
                                                <td>Spokesman, Lawyer...</td>
                                                <td class="my-border-right">Analyst, Researcher...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-right"><i>Academic</i></td>
                                                <td>President, Research lead...</td>
                                                <td>Spokesman, Lawyer...</td>
                                                <td class="my-border-right">Expert, Scientist...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-bottom my-border-right"><i>Group</i></td>
                                                <td class="my-border-bottom">Lead, Founder...</td>
                                                <td class="my-border-bottom">Member, Militia...</td>
                                                <td class="my-border-bottom my-border-right">Casual, Bystander...</td>
                                              </tr>
                                              <tr>
                                                <td rowspan="3" class="rotated centered my-border-right my-border-bottom"><i>Individual</i></td>
                                                <td class="my-border-right"><i>Actor</i></td>
                                                <td>Individual...</td>
                                                <td>Doctor, Lawyer...</td>
                                                <td class="my-border-right">Family, friends...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-right"><i>Witness</i></td>
                                                <td>Voter, Protestor...</td>
                                                <td>Spokesman, Poll-respondent...</td>
                                                <td class="my-border-right">Bystander...</td>
                                              </tr>
                                              <tr>
                                                <td class="my-border-bottom my-border-right"><i>Victim</i></td>
                                                <td class="my-border-bottom">Individual...</td>
                                                <td class="my-border-bottom">Lawyer, Advocate...</td>
                                                <td class="my-border-right my-border-bottom">Family, friends...</td>
                                              </tr>
                                            </table>
                                        </div>
                                          <b>Notes:</b>
                                          <ul>
                                              <li>Participants and Decision-Makers often occupy the same roles, but a Decision-Maker is solely responsible for the FINAL decisions being made relating to the events described in the article where as a participant is NOT making the final decision.</li>
                                              <li>These categories are not definitive. A <i>President</i> might be a decision maker in one context but simply an informational source in another.</li>
                                          </ul>
                                        <h4>Definitions</h4>
                                        <ul>
                                            <li><b>Tagline:</b> A line that describes the source. Usually it's explicit and located close to an introduction of the source. Sometimes, the given tagline is not descriptive enough (i.e. contains references to elsewhere in the document) and you'll have to paraphrase.</li>
                                            <li>
                                                <b>Source Type:</b>
                                                <ol>
                                                    <li><b>Named Individual</b>: A single person who is fully named or fully identifiable (e.g. if only one spokesman exists and the information seems readily retrievable).</li>
                                                    <li><b>Unnamed Individual</b>: A single person who is either unidentifiable by happenstance (e.g. if many spokespeople exist) or by explicit request.</li>
                                                    <li><b>Named Group</b>: An organization producing a quote, document or other piece of information.</li>
                                                    <li><b>Unnamed Group</b>: Several individuals (e.g. experts) who are not named or identifiable, or an organization that is not named.</li>
                                                    <li><b>Report/Document</b>: A media report, scientific document, law or other document that is identifiable or retrievable.</li>
                                                    <li><b>Vote/Poll</b>: A vote or poll.</li>
                                                    <li><b>Database</b>: A database of records that some statistic or other metric reported by the journalist was retrieved from.</li>
                                                    <li><b>Other</b>: If not mentioned here, please specify.</li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>Affiliation:</b> Which group the source belongs to.
                                                <ul>
                                                    <li> <b>Institutional:</b> The source belongs to a larger institution.
                                                        <ol>
                                                            <li><b>Government</b>: Any source who executes the functions of or represents a government entity. <i>(E.g. a politician, regulator, judge, political spokesman etc.)</i></li>
                                                            <li><b>Corporate</b>: Any source who belongs to an organization in the private sector. <i>(E.g. a corporate executive, worker, etc.)</i></li>
                                                            <li><b>NGO (Non-Governmental Organization)</b>: If the source belongs to nonprofit organization that operates independently of a government. <i>(E.g. a charity, think tank, non-academic research group.)</i></li>
                                                            <li><b>Industry Group</b>: A source who belongs to a group whose primary purpose is to speak/lobby on behalf of several corporate entities (e.g. <i>The Chamber of Commerce</i>).</li>
                                                            <li><b>Religious Group</b>: A source who belongs to a group whose primary purpose is to provide religious services (e.g. a church) or speak/lobby on behalf of those providing religious services.</li>
                                                            <li><b>Academic</b>: A source belonging to an academic institution. Typically, these are professors or students and they serve an informational role, but they can be university administrators, provosts etc. if the story is specifically about academia.</li>
                                                            <li><b>Media</b>: A newspaper, television station or radio entity publishing a report that is quoted, or a source speaking on behalf of a media organization.</li>
                                                            <li><b>Political Group</b>: A source speaking for a campaign that is trying to influence policy and/or win election. Note: political candidates who later win office, or are currently in office, are considered part of a ``political group'' if they are speaking
                                                            while on running a re-election campaign.</li>
                                                            <li><b>Union:</b> A group representing workers' interests.</li>
                                                            <li><b>Other Group</b>: A source belongs or is acting on behalf of some group not captured by the above categories (if selected, please specify the group).</li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <b>Indvidiual:</b> The source does <b>NOT</b> belong to a larger institution.
                                                        <ol>
                                                            <li><b>Actor</b>: If the source is an individual acting on their own. <i>(E.g. an entrepreneur, main character, solo-acting terrorist.)</i></li>
                                                            <li><b>Witness</b>: A source that is ancillary to events, but bears witness in either an active <i>(e.g. protestor, voter)</i> or inactive <i>(i.e. bystander)</i> way.</li>
                                                            <li><b>Victim</b>: A source that is affected by events in the story, typically negatively.</li>
                                                            <li><b>Other</b>: Some other individual (please specify).</li>
                                                        </ol>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <b>Role:</b>
                                                <ol>
                                                    <li><b>Decision Maker</b>: A source who is directly responsible for making decisions on behalf of the entity they are affiliated with.</li>
                                                    <li><b>Participant</b>: A source who is taking an active role somehow in the decision-making process but is not be the final decision-maker.</li>
                                                    <li><b>Representative</b>: A source who is speaking on behalf of a <i>Participant</i>.</li>
                                                    <li><b>Informational</b>: A source who is giving information on ongoing decisions or events in the world, but is not directly involved in them.</li>
                                                    <li><b>Other</b>: Some other role that we have not captured (please specify).</li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>Role Status:</b>
                                                <ol>
                                                    <li><b>Current</b>: A source who is currently occupying the role and affiliation.</li>
                                                    <li><b>Former</b>: A source who <i>used</i> to occupy the role and affilition.</li>
                                                    <li><b>Other</b>: Some other status that we have not captured (please specify).</li>
                                                </ol>
                                            </li>
                                        </ul>

                                          <h5>Notes on the above:</h5>
                                          <ul>
                                              <li>Person's position should be listed as what they are as of the time of writing the article.</li>
                                              <li>Anyone who is directly affected by concrete events in the story is a participant or decision-maker. If the events are abstract, like economic downturn, they can be informational</li>
                                              <li>Tagline can reference other sources by their relations e.g. "Mr. Cohen's company", "Ted's brother"</li>
                                              <li>If it's one person and the description is enough to identify them (i.e. the chancellor of UC Berkeley) then they can be considered "named individual"</li>
                                              <li>If it's a group that is small enough to be identified, i.e. "prosecutors on <a specific lawsuit>" should they be considered a named source?</li>
                                              <li>"Academic" group is reserved for professors giving information to an article, "experts" or faculty participants in university drama. Unless the student is actively involved in the school's administration, they should be given an individual title, like "actor", "victim", etc.</li>
                                              <li>Protestors should be "actors", unless they're specifically affiliated with a certain group</li>
                                              <li>Unless explicitly given as a quote, forecasts should be listed as published works.</li>
                                              <li>Person's position should also be listed as the role they play IN THE ARTICLE, i.e. do they explicitly have control over the events in the article? Journalist's goal: holding the powerful accountable. Power = control over events.</li>
                                              <li>Prime ministers/presidents are not always decision makers, especially if it concerns local news. Sometimes, they just comment or participate.</li>
                                              <li>Where possible, the source should be a person.</li>
                                          </ul>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <h1>{{ headline }}</h1>
    <h3>Published: {{ published_date }}</h3>
    <a href="{{ url }}">{{ url }}</a>
    <p>File Id: {{ file_id }}</p>
    <p>Entry Id, Version: ({{ entry_id }} , {{ version }}) <i>(Not used for checking...)</i></p>
    <p>Annotator: {{ annotator }}</p>

    <h3>Category: {{ label }}</h3>
    <h4>Q1: Does the content of the article accurately reflect this category?</h4>
    <div style="width: 10%">
        <select id="category_error">
            <option value="category_error_yes" selected="selected">
                Yes
            </option>
            <option value="category_error_no">
                No
            </option>
        </select>
    </div>

    <table id="example" class="display" style="width:100%">
        <thead class="my-border-bottom">
            <tr>
                <th></th>
                <th><b>Sentence</b></th>
                <th>
                    <b>Source Head</b>
                    <br>
                    <i>Full name</i>
                </th>
                <th>
                    <b>Sentence Type</b>
                    <br>
                    <i></i>
                </th>
                <th>
                    <b>Errors</b>
                </th>
                <th>
                    <b>Tag Line</b>
                </th>
                <th>
                    <b>Source Type</b>
                </th>
                <th>
                    <b>Affiliation</b>
                    <br>
                    <i>Source's Group</i>
                </th>
                <th>
                    <b>Role</b>
                    <br>
                    <i>Position in Group</i>
                </th>
                <th>
                    <b>Role Status</b>
                    <br>
                    <i>Current/Former</i>
                </th>
            </tr>
        </thead>
    </table>

    <button type="submit" id='submitButton' value='Submit'>Submit form</button>

</div>
<script>
$(document).ready(function() {
    var data = {{ data | safe }}
    pm = new TablePageManager(data, 'affil-role')

    var table = pm.build_table($('#example'), data)

    $('.degree-multiselect').multiselect();

    pm.resize_input()
    $( window ).resize(function () {
        return pm.resize_input()
    })

     {# Add in other-box popping up #}
     $('select').on('change', function(e){pm.handle_other_box($(this))})

    {# disable/enable rows based on error state change. #}
    $('.error').on('change', function (e) {
        pm.handle_error_toggle(this)
    })

    $('.head').find('input').blur(function(){
        let row_idx = parseInt($(this).parents('tr').attr('id').split('_')[1])
        let error_type = $(this).parents('tr').find('.error').find("option:selected").attr('value')
        if ((error_type == 'false_negative_wrong_source_new') | (error_type == 'false_negative_source_uncaught')){
            pm.check_typed_source(row_idx, false)
        } else if ((error_type == 'false_negative_wrong_source_existing') | (error_type == 'false_negative_source_caught')){
            pm.check_typed_source(row_idx, true)
        }
    })

    $('#submitButton').click( function(submit_click_event) {
        var data = table.find('tr');
        var [output, to_continue] = pm.process_output(data)
        {% if do_mturk %}
            var do_mturk = true
        {% else %}
            var do_mturk = false
        {% endif %}
        output = {'data': output}
        if (to_continue) {
            console.log('Submitting!')
            var start_time = "{{ start_time }}"
            var output_fname = "{{ output_fname }}"
            pm.record_data(output, submit_click_event, do_mturk,
                start_time, output_fname, '/render_table', "{{ annotator }}")
        }
    } );
} );
</script>