{##}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{##}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>


<style type="text/css">
    .ten {
      width: 10%;
    }
    .twenty {
      width: 20%;
    }
    .thirty {
      width: 30%;
    }
    .forty {
      width: 40%;
    }
    .rotated {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
    }
    .centered {
      text-align: center
    }

    #example thead th {
        position: sticky;
        top: 0;
        font-weight:400;
        border-bottom-color: black;
        border-bottom-width: 1px;
        background-color: white;
    }

    table.display {
      margin: 0 auto;
      width: 100%;
      clear: both;
      border-collapse: collapse;
      table-layout: fixed;
      word-wrap:break-word;
    }
    input {
        width:inherit;
        height:inherit;
    }
    select {
        width:inherit;
        height:inherit;
    }

    .hidden{
        display: none;
    }

    .body {
        padding: 15px;
    }

    .my-border-bottom {
        border-bottom: 1px solid black;
    }

    .my-border-right {
        border-right: 1px solid black;
    }

    .my-border-left {
        border-left: 1px solid black;
    }

    .instructional_table {
        padding: 15px;
        display: flex;
        justify-content: center;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<link rel="https://cdn.datatables.net/fixedheader/3.2.1/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css" type="text/css"/>

<div class="table table-hover container">
    <div class="row instructions">
        <div class="col-12">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="hello_header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#hello">
                      Hello, about us, and thank you for your help!
                    </button>
                  </h5>
                </div>
                <div id="hello" class="collapse show" aria-labelledby="hello_header" data-parent="#accordion">
                  <div class="card-body">
                    Hello! We are small research lab in University of Southern California trying to build AI tools to help
                    citizens better understand the work journalists do.
                    <br><br>
                    We are calibrating our payment scheme <b>to meet a $15 per hour wage and will reward workers who take time
                    to give correct answers</b>.
                    <br><br>
                    If you perform well, we will invite you to participate in future, well-paying trials. If you speed through and give nonsense
                    answers, <b>we will block you and report to Mechanical Turk</b>. We understand the pressures of Mechanical Turk, but we are a
                    small lab and cannot afford to throw out too much data.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Instructions
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <h2>Goals and Overview</h2>
                        <p>We'd like to compile diversity characteristics of the sources so we can study source diversity in news writing. To do this, you will answer questions about each source's
                            race, gender, age, and education. You can use contextual clues from the article and external resources like Google and Wikipedia to answer these questions.</p>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" type="button" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Diversity Categories
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>
                                <b>Gender:</b>
                                <ol>
                                    <li><b>Male</b>: Someone born male and identifying as male at the time of publication.</li>
                                    <li><b>Female</b>: Someone born female and identifying as female at the time of publication.</li>
                                    <li><b>Other</b>: Another gender category not captured (e.g. a-gendered, trans female, trans male.) Please specify.</li>
                                </ol>
                            </li>
                            <li>
                                <b>Race:</b>
                                <ol>
                                    <li><b>White</b>: Someone with a predominantly European heritage, who would be viewed as white by society.</li>
                                    <li><b>Black</b>: Someone with a predominantly African heritage.</li>
                                    <li><b>Indigenous</b>: Someone with a heritage that is predominantly a native peoples, i.e. existing pre-colonization (e.g. American Indian, Pacific Islander, Haiwaiian, aboriginal, etc.).</li>
                                    <li><b>Latin/South America</b>: Someone who does <i>not</i> identify as indigenous, but who's heritage is predominantly from Latin or South America.</li>
                                    <li><b>East Asian</b>: Someone who's heritage is predominantly from an East Asian country (e.g. China, Thailand, Japan, etc.).</li>
                                    <li><b>South Asian</b>: Someone who's heritage is predominantly from a South Asian country (e.g. India, Bangaladesh, Nepal, etc.).</li>
                                    <li><b>Middle Eastern</b>: Someone who's heritage is predominantly from the Middle East (e.g. Israel, Saudi Arabia, Turkey).</li>
                                    <li><b>Other</b>: Some other group not captured. Please specify.</li>
                                </ol>
                            </li>
                            <li>
                                <b>Age:</b> Please specify age in number of years, as of the publication date.
                            </li>
                            <li>
                                <b>Educational Status:</b>
                                <ol>
                                    <li><b>Degree</b>: Please specify the degrees obtained by the individual (can select multiple).</li>
                                    <li><b>University</b>: Please specify the universities attended by the individual (if multiple, separate them with commas.)</li>
                                </ol>
                            </li>

                        </ul>
                    </div>
                </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <h1>{{ headline }}</h1>
    <h3>Published: {{ published_date }}</h3>
    <a href="{{ url }}">{{ url }}</a>
    <p>Key: ({{ entry_id }} , {{ version }})</p>

    <h3>Category: {{ label }}</h3>
    <h4>Q1: Does the content of the article accurately reflect this category?</h4>
    <div style="width: 10%">
        <select id="category_error">
            <option value="category_error_yes" selected="selected">
                Yes
            </option>
            <option value="category_error_no">
                No
            </option>
        </select>
    </div>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th><b>Sentence</b></th>
                <th>
                    <b>Source Head</b>
                    <br>
                    <i>Full name</i>
                </th>
                <th>
                    <b>Sentence Type</b>
                    <br>
                    <i></i>
                </th>
                <th>
                    <b>Errors</b>
                    {#                <br>#}
                    {#                <i>(Sentence-Level)</i>#}
                </th>
                {#            #}
                <th>
                    <b>Affiliation</b>
                    <br>
                    <i>Source's Group</i>
                </th>
                <th>
                    <b>Role</b>
                    <br>
                    <i>Position in Group</i>
                </th>
                <th>
                    <b>Role Status</b>
                    <br>
                    <i>Current/Former</i>
                </th>
                <th>
                    <b>Gender</b>
                </th>
                <th>
                    <b>Race</b>
                </th>
                <th>
                    <b>Age</b>
                    <br>
                    <i>At publish-time</i>
                </th>
                <th>
                    <b>Edu. Level</b>
                    <br>
                    <i>Check all applic.</i>
                </th>
                <th>
                    <b>Edu. Institution(s)</b>
                    <br>
                    <i>Sep. by ";"</i>
                </th>
            </tr>
        </thead>
        {% for row in data  %}
            <tr id="row_{{ loop.index - 1}}">
                <td>{{ loop.index - 1 }}</td>
                {# sentence #}
                {% if row.color %}
                    <td datatype='sentence' class="sentence" style="background-color: {{ row.color }}">{{ row.sent | safe }}</td>
                {% else %}
                    <td datatype='sentence' class="sentence">{{ row.sent }}</td>
                {% endif %}
                <td datatype="head" class="head my-border-left">
                    <input type="text" value="{{ row.head }}" disabled>
                </td>
                <td datatype="quote_type" class="quote_type">
                    <select type="text" disabled>
                        {% if row.type == "QUOTE" %}
                            <option value="quote" class="quote" selected="selected">QUOTE</option>
                        {% else %}
                            <option value="quote" class="quote">QUOTE</option>
                        {% endif %}
                        {% if row.type == "BACKGROUND" %}
                            <option value="background" class="background" selected="selected">BACKGROUND</option>
                        {% else %}
                            <option value="background" class="background">BACKGROUND</option>
                        {% endif %}
                        {% if row.type == "" %}
                            <option value="na" class="na" selected="selected"></option>
                        {% else %}
                            <option value="na" class="na"></option>
                        {% endif %}
                        {{ row.type }}
                    </select>
                </td>
                <td datatype="error" class="error my-border-right">
                    <select size="1">
                        <option value="no_errors" selected="selected">
                            No Errors
                        </option>
                        {#                #}
                        <option disabled role=separator>
                        <option value="false_negative_source_named_uncaught" class="false_negative_source_named_uncaught">
                            False negative: This is a named source sentence we failed to label. The source is NOT found elsewhere.
                        </option>
                        <option value="false_negative_source_named_caught" class="false_negative_source_named_caught">
                            False negative: This is a named source sentence we failed to label. The source IS found elsewhere.
                        </option>
                        <option value="false_negative_source_unnamed" class="false_negative_source_unnamed">
                            False negative: This is an unnamed source we failed to label (e.g. anonymous, or group). Please note group.
                        </option>
                        {#                #}
                        <option disabled role=separator>
                        <option value="false_positive_sentence_quote" class="false_positive_sentence_quote">
                            False positive: We said this was a QUOTE but it doesn't mention any source.
                        </option>
                        <option value="false_positive_sentence_background" class="false_positive_sentence_background">
                            False positive: We said this was BACKGROUND but it doesn't mention any source.
                        </option>
                        <option disabled role=separator>
                        <option value="mixed_roles_quote" class="mixed_roles_quote">
                            Type mixed: We tagged this BACKGROUND, but it should be tagged QUOTE.
                        </option>
                        <option value="mixed_roles_background" class="mixed_roles_background">
                            Type mixed: We tagged this QUOTE, should be tagged BACKGROUND.
                        </option>
                        <option value="false_negative_wrong_source_existing" class="false_negative_wrong_source_existing">
                            Wrong source: We attributed the quote to the WRONG source. The true source has been found elsewhere.
                        </option>
                        <option value="false_negative_wrong_source_new" class="false_negative_wrong_source_new">
                            Wrong source: We attributed the quote to the WRONG source. The true source has NOT been found elsewhere.
                        </option>
                        {#                #}
                        <option disabled role=separator>
                        <option value="other" class="other">
                            Other
                        </option>
                    </select>
                    <input class="hidden" type="text" datatype="other_error">
                </td>
                <td datatype="affiliation" class="affiliation">
                    <select size="1" disabled>
                        <option value="unknown" selected="selected"></option>
                        <option value="government">
                            Government
                        </option>
                        {#                #}
                        <option value="corporate">
                            Corporate
                        </option>
                        <option value="ngo">
                            NGO
                        </option>
                        <option value="academic">
                            Academic
                        </option>
                        <option value="other_group">
                            Other Group
                        </option>
                        {#                #}
                        <option disabled role=separator>
                        <option value="actor">
                            Actor
                        </option>
                        <option value="witness">
                            Witness
                        </option>
                        <option value="Victim">
                            Victim
                        </option>
                        <option value="other">
                            Other
                        </option>
                    </select>
                    <input class="hidden other other_affiliation" type="text" datatype="other_affiliation">
                </td>
                <td datatype="role" class="role">
                    <select size="1" disabled>
                        <option value="unknown" selected="selected">
                        </option>
                        <option value="participant">
                            Participant
                        </option>
                        <option value="representative">
                            Representative
                        </option>
                        <option value="informational">
                            Informational
                        </option>
                        <option value="other">
                            Other
                        </option>
                    </select>
                    <input class="hidden other other_role" type="text" datatype="other_role">
                </td>
                <td datatype="role_status" class="role_status">
                    <select size="1" disabled>
                        <option value="unknown" selected="selected"></option>
                        <option value="current">
                            Current
                        </option>
                        <option value="former">
                            Former
                        </option>
                        <option value="other">
                            Other
                        </option>
                        <option value="cant_tell">
                            Cannot Determine
                        </option>
                    </select>
                    <input class="hidden other other_status" type="text" datatype="other_status">
                </td>
                <td datatype="gender" class="gender my-border-left">
                    <select size="1" disabled>
                        <option value="unknown" selected="selected">
                        </option>
                        <option value="male">
                            Male
                        </option>
                        <option value="female">
                            Female
                        </option>
                        <option value="other">
                            Other
                        </option>
                        <option value="cant_tell">
                            Cannot Determine
                        </option>
                    </select>
                    <input class="hidden other other_gender" type="text" datatype="other_gender">
                </td>
                <td datatype="race" class="race">
                    <select size="1" disabled>
                        <option value="unknown" selected="selected">
                        </option>
                        <option value="white">
                            White/European
                        </option>
                        <option value="black">
                            Black
                        </option>
                        <option value="indigenous">
                            Indigenous
                        </option>
                        <option value="latinx">
                            Latin/South American
                        </option>
                        <option value="east_asian">
                            East Asian
                        </option>
                        <option value="south_asian">
                            South Asian
                        </option>
                        <option value="middle_east">
                            Middle Eastern
                        </option>
                        <option value="cant_tell">
                            Cannot Determine
                        </option>
                        <option class="other" value="other">
                            Other
                        </option>
                    </select>
                    <input class="hidden other other_race" type="text" datatype="other_race">
                </td>
                <td datatype="age" class="age">
                    <input type="text" disabled>
                </td>
                <td datatype="education_level" class="education_level">
                    <select class="degree-multiselect" multiple="multiple" disabled>
                        <option value="bachelor">Bachelor (BA, BS, BFA, etc.)</option>
                        <option value="masters">Masters (MA, MS, MBA, etc.)</option>
                        <option value="law">Law (JD)</option>
                        <option value="medical">Medical (MD)</option>
                        <option value="doctoral">PhD (or equivalent)</option>
                        <option value="other">Other</option>
                        <option value="cant_tell">Cannot Determine</option>
                    </select>
                    <input class="hidden other other_education_level" type="text" datatype="other_education_level">
                </td>
                <td datatype="university" class="university">
                    <input type="text" disabled>
                </td>
            </tr>
        {%  endfor %}

    </table>

    <button type="submit" id='submitButton' value='Submit'>Submit form</button>

</div>
<script>
    function unique(list) {
      var result = [];
      $.each(list, function(i, e) {
        if ($.inArray(e, result) == -1) result.push(e);
      });
      return result;
    }

    function get_enable_switch(command){
        if (command == 'enable'){
            return false
        }
        else {
            return true
        }
    }
    function change_affil_questions(row_number, command){
        var sel = '#row_' + row_number
        var bool = get_enable_switch(command)
        $(sel).find('.affiliation').find('select').prop("disabled", bool)
        $(sel).find('.role').find('select').prop("disabled", bool)
        $(sel).find('.role_status').find('select').prop("disabled", bool)
    }

    function change_sent_type_question(row_number, command) {
        var sel = '#row_' + row_number
        var bool = get_enable_switch(command)
        $(sel).find('.quote_type').find('select').prop("disabled", bool)
    }
    function change_sent_type_question_type(row_number, type){
        var sel = '#row_' + row_number
        $(sel).find('.quote_type').find('select').find('.' + type).prop('selected', true)
    }

    function change_source_head_question(row_number, command){
        var sel = '#row_' + row_number
        var bool = get_enable_switch(command)
        $(sel).find('.head').find('input').prop("disabled", bool)
    }

    function change_diversity_questions(row_number, command) {
        var sel = '#row_' + row_number
        var bool = get_enable_switch(command)
        $(sel).find('.gender').find('select').prop("disabled", bool)
        $(sel).find('.race').find('select').prop("disabled", bool)
        $(sel).find('.age').find('input').prop("disabled", bool)
        if (bool){
            $(sel).find('.education_level').find('select').multiselect("disable")
        } else {
            $(sel).find('.education_level').find('select').multiselect("enable")
        }

        $(sel).find('.university').find('input').prop("disabled", bool)
    }

    function change_source_questions(row_number, command) {
        change_affil_questions(row_number, command)
        change_diversity_questions(row_number, command)
    }

    function change_all_questions(row_number, command){
        change_source_head_question(row_number, command)
        change_sent_type_question(row_number, command)
        change_affil_questions(row_number, command)
        change_source_questions(row_number, command)
    }
    function set_error_source_background(row_number){
        var sel = '#row_' + row_number
        $(sel).find('.error').find('.false_positive_sentence_quote').prop('disabled', true)
        $(sel).find('.error').find('.mixed_roles_background').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_named_uncaught').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_named_caught').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_unnamed').prop('disabled', true)
    }
    function set_error_source_quote(row_number){
        var sel = '#row_' + row_number
        $(sel).find('.error').find('.false_positive_sentence_background').prop('disabled', true)
        $(sel).find('.error').find('.mixed_roles_quote').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_named_uncaught').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_named_caught').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_source_unnamed').prop('disabled', true)
    }
    function set_error_nothing(row_number){
        var sel = '#row_' + row_number
        $(sel).find('.error').find('.false_positive_sentence_quote').prop('disabled', true)
        $(sel).find('.error').find('.false_positive_sentence_background').prop('disabled', true)
        $(sel).find('.error').find('.mixed_roles_quote').prop('disabled', true)
        $(sel).find('.error').find('.mixed_roles_background').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_wrong_source_existing').prop('disabled', true)
        $(sel).find('.error').find('.false_negative_wrong_source_new').prop('disabled', true)
    }

    function disable_errors(datum, idx){
        if (datum['source_idx'] == 'null'){
            set_error_nothing(idx)
        }
        else if (datum['type'] == 'QUOTE') {
            set_error_source_quote(idx)
        }
        else{
            set_error_source_background(idx)
        }
    }

    function catalogue_typed_source_head_timer(row_idx) {
        var typingTimer;                //timer identifier
        var doneTypingInterval = 2000;  //time in ms, 5 seconds for example
        var input = $('#row_' + row_idx).find('.head').find('input');

        //on keyup, start the countdown
        input.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown
        input.on('keydown', function () {
            clearTimeout(typingTimer);
        });
    }

    $(document).ready(function() {
    $('.degree-multiselect').multiselect();
    var data = {{ data | safe }}
    var grouped_keys = d3.nest()
        .key(function (d) { return d.source_idx })
        .sortValues(function(a, b) { return ((a.sent_idx < b.sent_idx) ? -1 : 1); return 0;} )
        .entries(data)
        .filter(function(d){ return d['key'] != 'null'})

    var table = $('#example').DataTable({
        paging: false,
        ordering: false,
        searching: false,
        info: false,
        columnDefs: [
            { "width": "1%" ,  "targets": 0},  // sentence
            { "width": "34%" , "targets": 1},  // sentence
            { "width": "6%" , "targets":  2},   // source head
            { "width": "5%" , "targets":  3},   // sentence-type
            { "width": "5%" , "targets":  4},   // errors
            { "width": "7%" , "targets":  5},   // affiliation
            { "width": "6%" , "targets":  6},   // role
            { "width": "6%" , "targets":  7},   // role status
            { "width": "6%" , "targets":  8},   // gender
            { "width": "6%" , "targets":  9},   // race
            { "width": "6%" , "targets":  10},   // age
            { "width": "6%" , "targets":  11},  // educational level
            { "width": "6%" , "targets":  12},  // institutions
        ],
        fixedHeader: true,
    });

    function resize_input(){
        $('input').css('width', function (i, d) {
            return $(this).parent().width()
        })
        $('select').css('width', function (i, d) {
            return $(this).parent().width()
        })
    }
    resize_input()
    $( window ).resize(resize_input)

     {# Add in other-box popping up #}
     $('select').on('change', function(e){
         var that = $(this)
         var multi_bool = ($(this).attr('class') == 'degree-multiselect')
         var t = that.find("option:selected")
         var o = that.parents('td').find('.other')
         if (multi_bool){
             var selected = t.map(function(i, d){ return $(d).attr('value')})
             var toggle_on = (selected.filter(function(i, d){return d == 'other'}).length > 0)
         } else {
             var toggle_on = (t.val().indexOf('other') != -1)
         }
         if (toggle_on) {
            o.removeClass('hidden')
         } else {
            o.addClass('hidden')
        }
     })

    data.forEach(disable_errors)

    {# disable/enable rows based on error state change. #}
    var error_state_dict = {}
    data.forEach(function (d, i) {
        error_state_dict[i] = 'no_errors'
    })
    var source_label_state_dict = {}
    var source_label_row_num = {}
    var source_head_to_idx = {}
    var source_idx_to_color = {}
    grouped_keys.forEach(function(source_group){
        var sent_idx = source_group['values'][0]['sent_idx']
        var source_idx = source_group['key']
        var source_head = source_group['values'][0]['head']
        source_head_to_idx[source_head] = source_idx
        source_idx_to_color[source_idx] = source_group['values'][0]['color']
        change_source_questions(sent_idx, 'enable')
        source_label_state_dict[sent_idx] = 'selected'
        source_label_row_num[source_idx] = {
            'selected': sent_idx,
            'vals': source_group['values'].map( function(d){
                return d.sent_idx
            })
        }
    })
    function get_possible_source_rows(curr_row, source_idx){
        var all_possible_rows = source_label_row_num[source_idx]['vals']
        return all_possible_rows
                .filter(function(d) { return d != curr_row } )
                .filter(function(d) { return source_label_state_dict[d] != 'unselected' } )
    }
    function clear_source_head(row_idx){
        $('#row_' + row_idx).find('.head').find('input').val('')
        $('#row_' + row_idx).find('.na').prop('selected', true)
    }
    function assign_next_source(row_idx, source_idx){
        var active_source_row = parseInt(source_label_row_num[source_idx]['selected'])
        var open_source_rows = get_possible_source_rows(row_idx, source_idx)

        // If the source row is currently actively collecting diversity information, we need to look for another row associated with this source.
        if (active_source_row == row_idx) {
            // if there aren't other source rows, check to make sure the user wants to eliminate the source.
            if (open_source_rows.length == 0) {
                var to_close = confirm(
                    'This is the last entry we have for this source. ' +
                    'If this is a false positive, it means the source does not exist. ' +
                    'Click OK to confirm.'
                )
                var next_row_idx = undefined
            } else {
                var to_close = true
                var next_row_idx = open_source_rows[0]
            }
        }

        // if we are closing out this row...
        if (to_close) {
            // 1. disable current source questions
            change_source_head_question(row_idx, 'disable')
            change_sent_type_question(row_idx, 'disable')
            change_source_questions(row_idx, 'disable')

            // 2. turn on the next source questions
            change_source_questions(next_row_idx, 'enable')
            source_label_state_dict[row_idx] = 'unselected'
            source_label_state_dict[next_row_idx] = 'selected'
            source_label_row_num[source_idx]['selected'] = next_row_idx
        }
        // otherwise, just mark that this row is unavailable for some future collection effort.
         else {
            source_label_state_dict[row_idx] = 'unselected'
        }
    }
    function clear_color(row_idx){
        $('#row_' + row_idx).find('.sentence').removeAttr('style')
    }
    function add_color(row_idx, source_idx){
        var color = source_idx_to_color[source_idx]
        $('#row_' + row_idx).find('.sentence').css('background-color', color)
    }

    $('.error').on('change', function (e) {
        {##}
        var row_idx = $(this).parents('tr').attr('id').split('_')[1]
        var error_selected = $(this).find("option:selected").attr('value')
        var old_selection = error_state_dict[row_idx]
        error_state_dict[row_idx] = error_selected
        {##}
        var source_idx = data[row_idx]['source_idx']
        if (error_selected == 'false_negative_source_named_uncaught') {
            change_source_questions(row_idx, 'enable') // turn them on
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
        }
        if (error_selected == 'false_negative_source_named_caught') {
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            change_source_questions(row_idx, 'disable')
        }
        if (error_selected == 'false_negative_source_unnamed') {
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            //
        }
        if (error_selected == 'false_negative_wrong_source_new') {
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            change_source_questions(row_idx, 'enable')
            assign_next_source(row_idx, source_idx)
        }
        if (error_selected == 'false_negative_wrong_source_existing') {
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            change_source_questions(row_idx, 'disable')
        }
        if (error_selected.indexOf('false_positive_sentence') != -1){
            clear_source_head(row_idx)
            clear_color(row_idx)
            assign_next_source(row_idx, source_idx)
        }
        if (error_selected == 'mixed_roles_quote'){
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            change_sent_type_question_type(row_idx, 'quote')
        }
        if (error_selected == 'mixed_roles_background'){
            change_source_head_question(row_idx, 'enable')
            change_sent_type_question(row_idx, 'enable')
            change_sent_type_question_type(row_idx, 'background')
        }

        // change to no_error
        if (error_selected == 'no_errors') {
            reset_input_boxes(row_idx, source_idx)
            change_source_head_question(row_idx, 'disable')
            change_sent_type_question(row_idx, 'disable')

            var to_disable = true
            // if the old error was some form of false positive
            if (( old_selection.indexOf('false_positive_sentence') != -1 ) | ( old_selection == 'false_negative_wrong_source_new' )) {
                // if the source had previously been completely unselected.
                if (source_label_row_num[source_idx]['selected'] == undefined) {
                    source_label_row_num[source_idx]['selected'] = parseInt(row_idx)
                    source_label_state_dict[row_idx] = 'selected'
                    change_source_questions(row_idx, 'enable')
                    to_disable = false
                }
            }
            if ((old_selection == 'false_negative_wrong_source_new' ) | (old_selection == 'false_negative_source_named_uncaught')){

            }
            if (data[row_idx]['color'] === undefined){
                clear_color(row_idx)
            }
            if (to_disable) {
                source_label_state_dict[row_idx] = ''
                change_source_questions(row_idx, 'disable')
            }
        }
    })

    function reset_input_boxes(row_idx, source_idx){
        var row = data[row_idx]
        $('#row_' + row_idx).find('.head').find('input').val(row['head'])
        if (row['type'] == "QUOTE"){
            $('#row_' + row_idx).find('.quote').prop('selected', true)
        } else if (row['type'] == "BACKGROUND"){
            $('#row_' + row_idx).find('.background').prop('selected', true)
        } else {
            $('#row_' + row_idx).find('.na').prop('selected', true)
        }
        add_color(row_idx, source_idx)
    }

    var max_source_idx = parseInt(d3.max(d3.keys(source_label_row_num)))
    function register_typed_source(row_idx) {
        var source_head = $('#row_' + row_idx).find('.head').find('input').val()
        if( source_head_to_idx[source_head] === undefined ) {
            max_source_idx++
            source_head_to_idx[source_head] = max_source_idx
            source_label_row_num[max_source_idx] = {
                'selected': row_idx,
                'vals': [row_idx]
            }
            source_label_state_dict[row_idx] = 'selected'

            var taken_colors = Object.values(source_idx_to_color)
            var avail_colors = unique(
                d3.schemeCategory20.concat(d3.schemeCategory20b).concat(d3.schemeCategory20c)
            ).filter(function(d){ return taken_colors.indexOf(d) == -1 })

            var chosen_color = avail_colors[0]
            source_idx_to_color[max_source_idx] = chosen_color
            add_color(row_idx, max_source_idx)
        }
        else {
            var source_idx = source_head_to_idx[source_head]
            source_label_row_num[source_idx]['vals'].push(row_idx)
            add_color(row_idx, source_idx)
        }
    }

    function check_typed_source(row_idx, final_check){
        if (final_check == undefined){
            final_check = false
        }

        var source_head = $('#row_' + row_idx).find('.head').find('input').val()
        if (final_check) {
            if (source_head_to_idx[source_head] === undefined) {
                alert('Typed source name "' + source_head + '" in row ' + row_idx + ' DOESN\'T MATCH any existing sources. ' +
                    'Please double check. If NEW source, please choose the appropriate error-type and retry.')
            } else {
                var source_idx = source_head_to_idx[source_head]
                add_color(row_idx, source_idx)
            }
        } else {
            if (source_head_to_idx[source_head] != undefined) {
                alert('Typed source name "' + source_head + '" in row ' + row_idx + ' MATCHES existing sources. ' +
                    'Please double check. If EXISTING source, please choose the appropriate error-type and retry.')
            } else {
                var add_source = confirm('You entered source ' + source_head + ' into row ' + row_idx + '. ' +
                    'Please confirm that you\'d like to add this source. Press OK to confirm.')
                if (add_source) {
                    register_typed_source(row_idx)
                    change_source_head_question(row_idx, 'disable')
                }
            }
        }
    }

    $('.head').find('input').blur(function(){
        var row_idx = parseInt($(this).parents('tr').attr('id').split('_')[1])
        var error_type = $(this).parents('tr').find('.error').find("option:selected").attr('value')
        if ((error_type == 'false_negative_wrong_source_new') | (error_type == 'false_negative_source_named_uncaught')){
            check_typed_source(row_idx, false)
        } else if ((error_type == 'false_negative_wrong_source_existing') | (error_type == 'false_negative_source_named_caught')){
            check_typed_source(row_idx, true)
        } else if (error_type == 'false_negative_source_unnamed'){
            var to_confirm = confirm('You entered the an unnamed source. We will not be double checking this so please make sure it is correct before hitting OK.')
            if (to_confirm) {
                register_typed_source(row_idx)
            }
        }
    })

    function input_cell_check(d, source_selector, field_name, other_field_class){
        var to_continue = true
        var is_disabled = $(d).find('select').prop('disabled')
        var value = $(d).find(':selected').text().trim()
        if (!is_disabled) {
            if (value == '') {
                alert('Make sure the "' + field_name + '" field for row ' + source_selector + ' is filled.')
                to_continue = false
            }
            if (value == 'Other') {
                var other_value = $(d).find(other_field_class).val()
                if (other_value == '') {
                    alert('You selected "Other" for the "' + field_name + '" field in row ' + source_selector + '. Make sure it is filled.')
                    to_continue = false
                } else {
                    value = 'Other: ' + other_value
                }
            }
        }
        return [to_continue, value]
    }
    function text_cell_check(d, source_selector, field_name) {
        var to_continue = true
        var value = $(d).find('input').val()
        var is_disabled = $(d).find('input').prop('disabled')
        if ((!is_disabled) & (value == undefined | value == '')){
            alert('Make sure the "' + field_name + '" field for row ' + source_selector + ' is filled.')
            to_continue = true
        }
        return [to_continue, value]
    }

     function process_source_row(source_idx){
        var to_continue = true
        var source_selector = source_label_row_num[source_idx]['selected']
        var output = {}
        output['s_idx'] = source_selector
        var tr = $('#row_' + source_selector)
        var td = $(tr).find('td')
        td.map(function(i, d){
            var key = $(d).attr('datatype')
            if (key == 'head'){
                var [to_continue_item, value] = text_cell_check(d, source_selector, 'Source Head')
            }
            if (key == 'quote_type'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Sentence Type', '.other_sentence_type')
            }
            if (key == 'affiliation'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Affiliation', '.other_affiliation')
            }
            if (key == 'role'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Role', '.other_role')
            }
            if (key == 'role_status'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Role Status', '.other_status')
            }
            if (key == 'race'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Race', '.other_race')
            }
            if (key == 'gender'){
                var [to_continue_item, value] = input_cell_check(d, source_selector, 'Gender', '.other_gender')
            }
            if (key == 'age'){
                var [to_continue_item, value] = text_cell_check(d, source_selector, 'Age')
            }
            if (key == 'education_level'){
                var is_disabled = $(d).find('select').prop('disabled')
                value = $(d).find(':selected').map(function (i, d) { return d.value })
                if ((!is_disabled) & (value.length == 0)) {
                    alert('Please selected at least one option for "Education Level" for row ' + source_selector + '.')
                    to_continue_item = false
                } else {
                    to_continue_item = true
                    value = value.toArray()
                }

            }
            if (key == 'university' ){
                var [to_continue_item, value] = text_cell_check(d, source_selector, 'Educational Institution')
            }
            if ((key != undefined) & (key != 'sentence') & (key != 'error')){
                output[key] = value
                to_continue = (to_continue & to_continue_item)
            }
        })
         return [to_continue, output]
     }

     function process_output(output){
        var all_output = []
        var all_to_continue = true
        var selected = Object.values(source_label_row_num)
        d3.keys(source_label_row_num).forEach(function(d){
            var [to_continue, output] = process_source_row(d)
            all_to_continue = (all_to_continue & to_continue)
            all_output.push(output)
        })
        return [all_output, all_to_continue]
     }

     function record_data(output, submit_click_event){
            {% if do_mturk %}
            // submit mturk
            $('#data').attr('value', JSON.stringify(output))
            $('#submitButton').trigger(submit_click_event.type);
            {% else %}
            // submit AJAX
            output['start_time'] = "{{ start_time }}"
            output['input_fname'] = "{{ input_fname }}"
            //
            $.ajax({
                url: "/post_table",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(output),
                success: function (result) {
                    if (result === "success") location.href = "/render_table"
                }
            })
            {% endif %}
        }

    $('#submitButton').click( function(submit_click_event) {
        var data = table.$('tr');
        var [output, to_continue] = process_output(data)
        output = {'data': output}
        if (to_continue) {
            console.log('Submitting!')
            record_data(output, submit_click_event)
        }
    } );
} );
</script>